* {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f5f2c6;
  font-weight: 200;
  
}

main {
  display: flex;
  justify-content: center;
}

.button {
  font-weight: 200;
  background-color: #c71414; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  height: fit-content;
}

.button:hover {
  background-color: #a01313;
}

#text-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.text {
  width: 100%;
  font-weight: 300;
  font-size: 1vw;
  background-color: #f5f2c6;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  resize: none;
  height: 10vw;
  padding: 1vw;
  border:4px solid #0f0f0e;
}


.text:focus {

  outline:none;
  border:4px dashed #c71414;
}

#button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

#bottom-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  width:23%;
  justify-content: space-between;
  flex-direction: column;
}

/* dropdown */

.dropdown {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 10%;
  z-index: 2;
}

.dropbtn {
  background-color: #c71414; /* Green */
  font-weight: 200;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  font-size: 1vw;
  border-radius: 10px;
}

.dropbtn:hover {
  background-color: #a01313;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0f0f0e;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 1vw;
  border-radius: 10px;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* modal container from W3 Schools */
.modal {
  display: block; 
  position: fixed;
  z-index: 4; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f2c6;
  margin: 15% auto; 
  padding: 20px;
  height: 40%;
  width: 40%; 
  font-size: 1.5vw;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: default;
}

/* RADIO BUTTON STYLING */

.radio {
  border:4px dashed #c71414;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  border-radius: 10px;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 200;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  color: white;
 
}

label input {
  position: absolute;
  left: -9999px;
  
}

label input:checked + span:before {
  box-shadow: inset 0 0 0 0.3em #c71414;
}

label input:checked + span:hover {
  color: white;
  background-color: #0f0f0e;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.25em 0.5em ;
  border-radius: 10px;
  transition: 0.25s ease;
  font-size: 2vw;
  line-height: 2vw;
  
}
label span:hover {
  background-color: #f5f2c6;
  color: #0f0f0e;
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #0f0f0e;
}